.list-item-span {
    margin-left: 8px;
    padding: 8px 0;
}

.list-item-container {
    cursor: pointer;
    margin: 0px 0px 0px -48px;
    padding: 0 0 0 24px;
    align-items: center;
}

.list {
}

.list-item-container-left {
    margin-left: 16px;
    display: flex;
    align-items: center;
}

.list-item-container-right {
    display: flex;
    align-items: center;
}



.file-item-container {
    font-size: 12px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    border: 1px solid transparent;
    display: inline-block;
    max-width: 162px;
    line-height: 14px;
    overflow: hidden;
    padding: 6px 6px 6px 6px;
    position: relative;
    text-decoration: none;
    text-align: center;
    min-width: 112px;
    width: 112px;
    word-wrap: break-word;
    vertical-align: top;
    cursor: pointer;
}

.list-item-icon-container {
    display: flex;
}

.list {
}
.list-item {
    padding-left: 1rem;
}
.hidden {
    display: none;
}
.directory-tree{
    display:flex;
    height:100%;
}

.directory-tree-container {
    font-size: 13px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    padding-left: 12px;
}

#handle {
    width: 8px;
    cursor: w-resize;
    background-color: #e0e0e0;

}

.page-layout.carded.full-width > .page-content-wrapper .page-content-card .toolbar {
    height: 6.4rem;
    min-height: 6.4rem;
    max-height: 6.4rem;
    border-bottom: 1px solid rgba(0,0,0,0.12);
}
.align-items-center {
    -webkit-box-align: center !important;
    -webkit-align-items: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}
.text-truncate {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.align-items-start {
    -webkit-box-align: start !important;
    -webkit-align-items: flex-start !important;
    -ms-flex-align: start !important;
    align-items: flex-start !important;
}
.flex-nowrap {
    -webkit-flex-wrap: nowrap !important;
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -16px;
    margin-left: -16px;
}
#right {
    background: white;
    width: 80%;
    overflow-y: auto;
    height: 100%;
}




.file-icon {
    width: 18px;
    height: 18px;
}

.file-list {
    padding: 16px 16px 16px 16px;
    flex-wrap: wrap;
}


.arrow {
    border: solid #757575;
    border-width: 0 2px 2px 0px;
    display: inline-block;
    padding: 1px;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    opacity: 0;
    transition: 0.3s;
}

.directory-tree-container:hover .arrow {
    opacity: 1
}
.empty-directory {
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

.right {
    transform: rotate(-48deg);
    -webkit-transform: rotate(-48deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(44deg);
    -webkit-transform: rotate(44deg);
}
.selected {
    background: #dedede;
}
.page-layout.carded.full-width {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}



.page-layout.carded {
    min-height: 100%;
    height: 100%;
}

.page-layout {
    position: relative;
    overflow: hidden;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.content-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
}

.page-content {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    background: #FFFFFF;
}
.d-flex{
    display:flex !important;
}

@media screen and (max-width: 600px) {
    #handle {
        display: none;
    }

    #left {
        display: none;
    }
}




